@media only screen and (max-width:482px) {
    .hero {
        height: 100vh !important;
    }

    .hero__inner {
        padding: 80px 0 470px 0 !important;
        background-position: bottom !important;
    }

    .hero__title {
        font-size: 32px !important;
        text-align: center;
    }
}