@media only screen and (max-width:482px) {
    .hero {
        height: 100vh !important;
    }

    .hero__inner {
        padding: 80px 0 470px 0 !important;
        background-position: bottom !important;
    }

    .hero__title {
        font-size: 33px !important;
        text-align: center;
    }

    .hero__title__box {
        margin-bottom: 30px !important;
    }


    .hero__socialMedia {
        justify-content: center;
    }

    .login__hero__image {
        width: 20px !important;
        height: 20px !important;
    }
}