@media only screen and (max-width:482px) {
    .login {
        padding: 0 !important;
    }

    .login__left {
        display: none;
    }

    .login__box {
        box-shadow: none !important;
    }

    .login__right {
        height: 100vh;
    }

    .login__titleBox {
        width: 190px !important;
        margin-top: 50px !important;
    }

    .login__socialMedia {
        margin-top: 170px !important;
    }
}