body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    padding: 110px 0px 0 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}